<header>
  <button class="hide redirect"></button>
  <div class="container">
    <a href="#" class="button-collapse top-nav full hide-on-large-only" data-activates="nav-mobile">
    <i class="material-icons">menu</i>
    </a>
  </div>
  <ul id="nav-mobile" class="side-nav fixed">
    <li>
      <div class="userView">
        <div class="background">
          <img src="images/navBackground.png">
        </div>
        <span class="auth hide" data-auth=<%= user.authType %>></span>
        <span class="incomplete hide" data-incomplete=<%= user.isIncomplete %>></span>
        <a href="#!user"><img class="circle" src= <%= user.imgUrl%> ></a>
        <a href="#!name"><span class="white-text name"><%= user.name %></span></a>
        <a href="#!email"><span class="white-text email"><%= user.email%> </span></a>
      </div>
    </li>
<div class="actions">
    <%
      actions.forEach((a)=>{
     %>
      <li><a id=<%= a.action.toLowerCase() %> class="waves-effect <%= a.action.toLowerCase() %>"><i class="material-icons"><%= a.icon %> </i> <span class="hide badge red white-text"></span> <%= a.action %></a></li>
      <%   }) %>
  </div>
  </ul>
</header>