<h1>Allenamenti degli atleti:</h1>
<ul class="collapsible popout" data-collapsible="accordition">
    <%athletes.forEach(function(athlete){%>
        <li>
            <div class="collapsible-header"><img class="reduceSize circle" src=<%=athlete.imgUrl %> />
                <%= athlete.name +" " + athlete.surname  %>
            </div>
            <div class="collapsible-body <%= athlete._id%>">
                <%
                if(athlete.trainings!= undefined && athlete.trainings!= null && athlete.trainings.length  >0){
                    var athTrainings = athlete.trainings;
                    athTrainings.forEach(function(training){
                %>
                    <ul class="collection">
                        <li>
                            <span class="centerize">
                                <i class="material-icons">assignment</i>
                                <%= training.name%>
                                </span>
                            <p class="secondary-content">
                                <%if(training.seen == false){%>
                                    <i class="tooltipped material-icons black-text" data-position="top" data-tooltip="Il programma non è ancora stato visto">schedule</i>
                                    <%}else{%>
                                    <i class="tooltipped material-icons black-text" data-position="top" data-tooltip="Il programma è stato visualizzato il: <%=training.seen%>">done</i>
                                    <%}%>
                                        <a href="http://localhost:3000<%=training.url%>"><i class="material-icons black-text download" data-program="<%=training.name%>">file_download</i></a>
                            </p>
                        </li>
                    </ul>
                    <%})}else{%>

                    <h4>Non possiede ancora un programma</h4>

                    <%}%>
            </div>
        </li>
        <%})%>
</ul>